extends default

block header

block content
  div.competencies
    div.competencies-image(style=`background: url('/images/${comp.imgSrc}') top center no-repeat; background-size: cover;`)
    div.competencies-details
      h1.competencies-name
        | #{comp.type} 
      h2.competencies-tagline
        | #{comp.tagline}
      p.competencies-bio
        | #{comp.misc}
      a.button.button-twitter(href=`${comp.twitter}`)
        | Follow me on Twitter 
